
.contlogin {
    margin-top: 5%;
}
#cardlogin{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
}
.titlelogin{
    text-align: center;
    color: #333;
}

.formlogin{
    padding: 10%;
}
.boton
{
    width: 70%;

    border-radius: 0.8rem;
    padding: 1.5%;
    border: none;
    
}
.ingresarbtn{
    text-align: center;
    
}
.linkInicio{
    font-size: 0.8rem;
}

